:root {
  --fondo: #f9fafb;
  --naranja: #ec7000;
  --azul: #106eb0;
  --negro: #252220;
  --gris: #5d5750;
  --gris-claro: #89837f;
  --sombra: 0px 8px 16px rgba(86, 80, 76, 0.04),
    0px 2px 16px rgba(86, 80, 76, 0.04), 0px 1px 4px rgba(86, 80, 76, 0.04);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: var(--fondo);
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; */
